.home {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 100%;
}
.home__imgSlide {
  display: flex;
  height: 600px;
  /* width: 500%; */
  /* transition: all 0.5s; */
  /* transform: translateX(-1500px); */
}

/* prev next arrow */

.home__arrow a {
  display: block;
  cursor: pointer;
  z-index: 1000;
  position: absolute;
  width: 50px;
  height: 80px;
  position: absolute;
  top: 106px;
  font-size: 40px;
}
